{% extends "base.html" %}

{% block content %}
<h3>Thread for {% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h3>
<ul>
{% for chat in object.chatmessage_set.all %}

<li>{{ chat.message }} via {{ chat.user }}</li>

{% endfor %}
</ul>

<form method='POST'> {% csrf_token %}
{{form.as_p }}
<input type='submit' class='btn btn-primary'/>
</form>


<script>

var loc = window.location
var webSocketEndpoint =  'ws://' + loc.host + '/chat/'  // ws : wss

var socket = new WebSocket(webSocketEndpoint)

socket.onmessage = function(e){
    console.log('message', e)
}

socket.onopen = function(e){
    console.log('open', e)
}

socket.onerror = function(e){
    console.log('error', e)
}
socket.onclose = function(e){
    console.log('closed', e)
}

if (socket.readyState == WebSocket.OPEN) {

} else if (socket.readyState == WebSocket.CONNECTING){
    console.log("connecting..")
}


</script>

{% endblock %}