aioredis==1.1.0
asgiref==2.3.0
async-timeout==2.0.1
attrs==18.1.0
autobahn==18.5.1
Automat==0.6.0
channels==2.1.1
channels-redis==2.2.0
constantly==15.1.0
daphne==2.1.1
dj-database-url==0.5.0
Django==2.0.5
gitdb2==2.0.3
GitPython==2.1.9
hiredis==0.2.0
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
msgpack==0.5.6
psycopg2==2.7.4
psycopg2-binary==2.7.4
pytz==2018.4
six==1.11.0
smmap2==2.0.3
Twisted==18.4.0
txaio==2.10.0
zope.interface==4.5.0
